<div class="card bg-dark">
  <div class="card-body row m-0">
    <div class="logo col d-flex justify-content-start align-items-center gap-2">
      <div class=""><img src="/assets/imgs/logo.jpg" alt="" /></div>
      <span class="">Explore</span>
      <div class="input-group w-50">
        <span class="input-group-text bg-dark" id="basic-addon1"
          ><img src="/assets/imgs/search.jpg" alt=""
        /></span>
        <input
          type="text"
          class="form-control bg-dark"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
    <ul class="d-flex col-6 justify-content-end align-items-center">
      <li class="mx-3 d-flex flex-column align-items-center " *ngFor="let route of routs">
        <i class="{{route.icon}} pb-1"></i>
        <a routerLink="{{ route }}">{{ route.name | titlecase }}</a>
      </li>
    </ul>
  </div>
</div>
