a {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8em;
}
i {
  color: rgba(255, 255, 255, 0.7);
}
.card {
  color: white;
  margin: 0;
}
/* .logo,
.d-flex {
 // border: 1px solid red;
} */
