<div class="overview">
    <h5 class="mt-5 mb-5">owerview</h5>
    <div class="overview-options row">
      <span class="col-6">
        <i class="fa-solid fa-quote-left me-2"></i>
        <span>0 references</span>
      </span>

      <span class="col-6">
        <i class="fa-solid fa-briefcase me-2"></i>
        <span>{{ user.userInfo?.occupation }}</span>
      </span>

      <span class="col-6">
        <i class="fa-solid fa-comment me-2"></i>
        <span>Fluent in {{ user.userInfo?.languages }} </span>
      </span>

      <span class="col-6">
        <i class="fa-solid fa-graduation-cap me-2"></i>
        <span>{{ user.userInfo?.education }} </span>
      </span>

      <span class="col-6">
        <i class="fa-solid fa-venus-mars me-2"></i>
        <span>{{ user.userInfo?.age }}&nbsp;years</span>
      </span>

      <span class="col-6">
        <i class="fa-solid fa-location-dot me-2"></i>
        <span>No hometown listed</span>
      </span>

      <span class="col-6">
        <i class="fa-solid fa-user-group me-2"></i>
        <span>Member since 2023</span>
      </span>

      <span class="complete col-6">
        <i class="fa-regular fa-id-card me-2"></i>
        <span>Profile 55% complete</span>
      </span>
    </div>
  </div>