<div class="card" style="width: 18rem" *ngIf="user$ | async as user">
    <img src="/assets/imgs/user.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ user.fullName }}</h5>
      <h6 class="card-title">{{ user.userInfo?.location }}</h6>
      <h4 class="verified" *ngIf="user.isVerified; else notverified">Verified</h4>
      <ng-template #notverified
        ><h4 class="verified">Profile not Verified</h4></ng-template
      >
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of
        the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  