<div class="card" style="width: 18rem" *ngIf="user$ | async as user">
  <img src="/assets/imgs/user.png" class="card-img-top" alt="..." />
  <div class="card-body">
    <span class="title d-block">Overview</span>

    <span class="item">
      <i class="fa-solid fa-comment me-2"></i>
      <span>Fluent in {{ user.userInfo?.languages }} </span>
    </span>

    <span class="item">
      <i class="fa-solid fa-venus-mars me-2"></i>
      <span>{{ user.userInfo?.age }}&nbsp;years</span>
    </span>

    <span class="item">
      <i class="fa-solid fa-briefcase me-2"></i>
      <span>{{ user.userInfo?.occupation }}</span>
    </span>

    <span class="item">
      <i class="fa-solid fa-graduation-cap me-2"></i>
      <span>{{ user.userInfo?.education }} </span>
    </span>

  </div>
</div>
