<div
  class="feedback d-flex align-items-center"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog d-flex p-3">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Leave feedback about {{ trip.location }}
        </h1>
      </div>
      <div class="modal-body pt-5">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          [(ngModel)]="feedback"
          rows="6"
        ></textarea>
      </div>
      <div class="modal-footer d-flex gap-2">
        <button type="button" class="btn" (click)="close()">Close</button>
        <button type="button" class="btn btn-save" (click)="save()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
