.review-modal {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: auto;
  & * {
    color: var(--white);
  }
  & .modal-dialog {
    background-color: rgba(0, 0, 0, 0.2);
    width: 400px;
    background-color: var(--grey);
    border-radius: 5px;
    min-height: 445px;
  }
}

.btn {
  width: 100px;
  background-color: var(--light-blue);
  border-radius: 0;
}

.btn-save {
  background-color: var(--orange);
  color: white;
}

#rating-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;

  .star {
    color: var(--dark-black);
    font-size: 24px;
    cursor: pointer;

    &.rated,
    &:hover,
    &:hover ~ .star {
      color: orange;
    }

    transition: color 0.3s ease-in-out;
  }

  &.readOnly {
    .star {
      cursor: default;
      &:hover:not(.rated),
      &:hover ~ .star:not(.rated) {
        color: var(--grey);
      }
    }
    #reset {
      cursor: default;
      color: var(--dark-red);
    }
  }

  #reset {
    color: var(--light-red);
    font-size: 24px;
    cursor: pointer;

    &:hover {
      color: var(--dark-red);
    }
  }
}
.checkbox {
  width: 20px;
  height: 20px;
}
.feedback-field {
  background-color: var(--grey);
  min-height: 150px;
}
